<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Outgrow</title>
</head>
<body >
    <div class="container-fluid" style ="position:fixed; top:0; background-color:#ffffff; overflow:hidden; z-index:1;">
    <nav class="navbar navbar-default navbar-fixed-top">
    <ul style="list-style-type:none">
    <li >
        <a class="nav-link" href="#"><img src="assets/images/outgrow_icon.jpg"  width = "168px" height="35px" ></a>
    </li>
    </ul>       
    </nav>
    </div>

  
    