<div class="container-fluid text-center">
    <div class="row" style="background-color: #f3f8fb">
        <div class="col-lg-6">
            <br><br><br><br><br>
            <h2>Who could have guessed ?</h2>
            New York Times, most successful content is actually a quiz! <br>
            <h4><a href="#" class="overview"> Read more  ></a></h4>
        </div>

        <div class="col-lg-6">
            <br><br><br>
            <img src="./assets/images/p6.png" alt="" width="600px" height="250px">
        </div>
        
    </div>
</div>